/* =========================================================== */
/* =========================================================== */
/* =========================================================== */
.nav-active {
    color: #343A40 !important;
    border-color: #fff #fff #FFC107 #fff !important;
}

.nav-link {
    border-width: 1px 1px 4px 1px !important;
}

.notice-read {
    cursor: pointer;
}

.notice-read:hover {
    text-decoration: underline;
}